/* Desktop/Tablet View  */

.app{
    display:flex;
    width: 100vw;
    height: 100vh;
    background-color: #55321F;
    align-items: center;
}

.board-bkg {
    background-image: url(https://images.unsplash.com/photo-1558051815-0f18e64e6280?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80);
    margin: 0 auto;
    width: 90vw;
    height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
}

button{
    color: #FFEEEE;
    background-color: #CD7F9B;
    border-radius: 5px;
    font-weight: 700;
}

/* Iphone X View */

@media only screen and (max-width: 375px) {

    .app{
        width: 378px;
       
    }
    .board-bkg{
        height: 85vh;
    }
}