/* Desktop View  */

.swatches{
    background-color: #E4CACB;
    height: 170px;
    width: 650px;
    margin-top: 5px;
    padding-left: 10px;
}
.swatches h4{
    text-align: center;
}


/* Tablet View */

@media only screen and (max-width: 1024px) {
    .swatches{
        height: 145px;
    }
    .swatches h4{
        font-size: 20px;
    }
}