/* Desktop View  */
.home-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    width: 35vw;
    height: 90vh;
}
.home-content{
    background-color: #CD7F9B;
    height: 320px;
    width: 275px;
    margin: 0 auto;
    text-align: center;
    border: 4px solid #55322F;
    
}
.home-content button{
    color: black;
    margin: 0 5px;
    padding: 9px 18px;
    font-size: 18px;
}
.home-content h3{
    font-size: 25px;
    padding-top: 19px;
}



/* Tablet View */

@media only screen and (max-width: 1024px) {
    .home-container{
        width: 55vw;
        height: 60vh;
        margin: 210px auto;

    }

    .home-content{
        height: 400px;
        width: 450px;
    }

    .home-content h3{
        font-size: 35px;
    }

    .home-content button{
        padding: 15px 25px;
        font-size: 25px;
    }

}

/* Iphone X View */

@media only screen and (max-width: 375px) {
    .home-container{
        width: 80vw;
        height: 50vh;
        margin: 140px auto;
    }
    .home-content{
        height: 280px;
        width: 230px;
    }

    .home-content h3{
        font-size: 20px;
        
    }
    .home-content button{
        padding: 15px 25px;
        font-size: 15px;
    }
}