body{
    margin: 0;
    padding: 0;
}
.home-content{
    background-color: #CD7F9B;
    height: 275px;
    width: 275px;
    margin: 0 auto;
    text-align: center;  
}
.home-content button{
    color: black;
    margin: 5px;
    padding: 5px 8px;
    font-size: 15px;
}
.home-content h3{
    font-size: 25px;
    padding-top: 19px;
}