/* Desktop View */

.shopping-list{
    background-color: #E5B9A1;
    height: 350px;
    width: 350px;
    margin-top: 5px;
    overflow: auto;
}
.shopping-list h4{
    text-align: center;
}
.shopping-list button{
    padding: 3px 5px;
    font-size: 12px;
    text-align: center;
}
.shopping-list input{
    margin-left: 10px;
}

/* Tablet View */

@media only screen and (max-width: 1024px) {
    .shopping-list{
        width: 290px;
        height: 400px;
    }
    .shopping-list h4{
        font-size: 20px;
    }
}

/* Iphone X View  */

@media only screen and (max-width: 375px) {
    .shopping-list{
        width: 390px;
        height: 240px;
        margin-left: 0;
    }
    .shopping-list h4{
        font-size: 15px;
    }
    .shopping-list button{
        padding: 2px 3px;
        font-size: 10px;
        text-align: center;
    }
    .shopping-list p{
        font-size: 10px;
    }
    .shopping-list input{
        padding: 0;
        width: 100px;
    }
}