/* Desktop View */

footer{
    background-color: #55321F;
    padding: 0;
    font-size: 18px;
    color: #CA8B8B; 
    text-align: center; 
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
}

/* Tablet View  */

@media only screen and (max-width: 1024px) {
    footer{
        padding-bottom: 20px;
    }
}
