.notes{
    background-color: #CD7F9B;
    height: 350px;
    width: 350px;
}
.notes h4{
    text-align: center;
}
.notes button{
    padding: 3px 5px;
    font-size: 12px;
    text-align: center;
}
.notes input{
    margin-left: 10px;
}