/* Desktop View  */

.notes{
    background-color: #CD7F9B;
    height: 350px;
    width: 350px;
    overflow: auto;
}
.notes h4{
    text-align: center;
}
.notes button{
    padding: 3px 5px;
    font-size: 12px;
    text-align: center;
}
.notes input{
    margin-left: 10px;
}

/* Tablet View */

@media only screen and (max-width: 1024px) {
    .notes{
        height: 400px;
        width: 290px;
        margin-top: 5px;
        margin-left: 10px;
    }

    .notes h4{
        font-size: 20px;
    }

}


/* Iphone X View  */

@media only screen and (max-width: 375px) {
    .notes{
        width: 390px;
        height: 240px;
        margin-left: 0;
    }

    .notes h4{
        font-size: 15px;
    }
    .notes button{
        padding: 2px 3px;
        font-size: 10px;
        text-align: center;
    }
    .notes p{
        font-size: 10px;
    }
    .notes input{
        padding: 0;
        width: 100px;
    }
}