/* Desktop View   */

.to-do-list{
    background-color: #EEA58E;
    height: 350px;
    width: 350px;
    margin-left: 20px; 
    margin-top: 5px;
    overflow: auto;
}
.to-do-list h4{
    text-align: center;
}
.to-do-list p{
    padding-left: 15px;
}
.to-do-list button{
    padding: 3px 5px;
    font-size: 12px;
    text-align: center;
    margin-left: 3px;
}
.to-do-list input{
    margin-left: 10px;
}

/* Tablet View */

@media only screen and (max-width: 1024px) {
    .to-do-list{
        height: 400px;
        width: 290px;
        margin-left: 10px;
    }

    .to-do-list h4{
        font-size: 20px;
    }
}


/* Iphone X View  */

@media only screen and (max-width: 375px) {
    .to-do-list{
        width: 390px;
        height: 240px;
        margin-left: 0;
    }
    .to-do-list h4{
        font-size: 15px;
    }
    .to-do-list p{
        font-size: 10px;
        padding-left: 5px;
    }
    .to-do-list button{
        padding: 2px 3px;
        font-size: 10px;
        text-align: center;
        margin-left: 5px;
    }
    .to-do-list input{
        padding: 0;
        width: 100px;
        margin: 0;
    }
}
