

h1{
    margin: 0;
    color: #CA8B8B;
    font-size: 50px;
}

h2{
    color: #CA8B8B;
    font-size: 30px;

}

.room-container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 1750px;
    height: 790px;
    border: 2px solid purple;
}

.room-components-a{
    border: 3px solid black;
    padding: 0 10px;
    height: 760px;
    width: 730px;
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-evenly; */
    justify-content: center;
    /* margin-top: 80px; */
}
.room-components-b{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid red;
    height: 760px;
    width: 1000px;
    /* align-content: space-evenly; */
    justify-content: center;


}
.room-main{
    border: 3px solid yellow;
    background-image: url(https://images.unsplash.com/photo-1558051815-0f18e64e6280?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80);
    width: 90vw;
    height: 92vh;
}
.room-nav{
    border: 2px solid pink;
    display: flex;
    /* height: 100px; */
    justify-content: space-around;
    padding: 5px 
}
 .room-nav button{
    height:40px;
    width: 150px;
    margin: 0 5px;
    padding: 5px 8px;
    font-size: 20px;
}