/* Desktop View  */

.room-nav h1{
   margin-top: 0;
    color: #CA8B8B;
    font-size: 60px;
}

.room-nav h2{
    color: #CA8B8B;
    font-size: 30px;

}

.room-container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 1650px;
    height: 790px;
    /* border: 2px solid purple; */
}

.room-components-a{
    /* border: 3px solid yellow; */
    padding: 0 10px;
    height: 760px;
    width: 730px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.room-components-b{
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid red; */
    height: 760px;
    width: 900px;
    justify-content: center;


}
.room-main{
    /* border: 3px solid black; */
    background-image: url(https://images.unsplash.com/photo-1558051815-0f18e64e6280?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80);
    width: 90vw;
    height: 92vh;
}
.room-nav{
    /* border: 2px solid pink; */
    display: flex;
    justify-content: space-around;
    padding-top: 15px 
}
 .room-nav button{
    height:40px;
    width: 150px;
    margin: 0 5px;
    padding: 5px 8px;
    font-size: 20px;
    margin-top: 25px;
}

/* Tablet View */

@media only screen and (max-width: 1024px) {

    .room-container{
        height: 70vh;
        width: 90vw;
        flex-wrap: wrap;
    }
    .room-nav{
        display: flex;
        flex-wrap: wrap;
        height: 20vh;
        justify-content: center;
        
    }
    
    .room-components-a{
        width: 890px;
        height: 420px;
        align-self: flex-start;
        justify-content: flex-start;
      
        
    }
    .room-components-b{
        align-self: flex-start;
        height: 520px;
        width: 920px;
        
    }
    .room-nav span{
        width: 500px;
        margin: 0 auto;
        align-items: center;
    }
    .room-nav span button{
        margin: 0px 20px 0;
        width: 200px;
        height: 65px;
        font-size: 30px;
        align-items: center;
        
    }
    .room-nav h1{
        font-size: 80px;
        margin-bottom: 0;
    }
    .room-nav h2{
        font-size: 60px;
        margin: 20px 0 0 0;
        padding-left: 65px; 
    }
}