/* Desktop View */

.photos{
    background-color: #CEB9AD;
    height: 546px;
    width: 850px;
    padding-left: 10px; 
}
.photos h4{
    text-align: center;
}


/* Tablet View */

@media only screen and (max-width: 1024px) {
    .photos{
        height: 350px;
        margin: 5px 0;
    }
    .photos  h4{
        font-size: 20px;
    }
}

/* Iphone X View  */

@media only screen and (max-width: 375px) {
    .photos{
        width: 320px;
        height: 350px;
        padding-bottom: 10px;
    }
    .photos h4{
        font-size: 15px;
    }
}